################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CnBlogAndroid/.vs/CnBlogAndroid/v15/Browse.VC.db
/CnBlogAndroid/.vs/CnBlogAndroid/v15/Browse.VC.opendb
/CnBlogAndroid/run.bat
/CnBlogAndroid/.vs/
/CnBlogAndroid/.vscode/

CnBlogAndroid/lcov-report/HomeworkDetails/InfoHandler.js.html
CnBlogAndroid/lcov-report/index.html
CnBlogAndroid/lcov-report/prettify.css
CnBlogAndroid/lcov-report/prettify.js
CnBlogAndroid/lcov-report/sort-arrow-sprite.png
CnBlogAndroid/lcov-report/sorter.js
CnBlogAndroid/lcov-report/VoteDetail/index.html
CnBlogAndroid/lcov-report/VoteDetail/VoteDetail.js.html
CnBlogAndroid/lcov-report/VoteList/index.html
CnBlogAndroid/lcov-report/VoteList/VoteList.js.html
CnBlogAndroid/lcov.info
CnBlogAndroid/clover.xml
CnBlogAndroid/coverage-final.json
CnBlogAndroid/lcov-report/base.css
CnBlogAndroid/lcov-report/BlogComment/CommentHandler.js.html
CnBlogAndroid/lcov-report/BlogComment/getComments.js.html
CnBlogAndroid/lcov-report/BlogComment/index.html
CnBlogAndroid/lcov-report/BlogComment/ItemHandler.js.html
CnBlogAndroid/lcov-report/BlogDetail/GetBlogApp.js.html
CnBlogAndroid/lcov-report/BlogDetail/GetDetailId.js.html
CnBlogAndroid/lcov-report/BlogDetail/index.html
CnBlogAndroid/lcov-report/ClassMember/index.html
CnBlogAndroid/lcov-report/ClassMember/ItemHandler.js.html
CnBlogAndroid/lcov-report/HomeworkDetails/ContentHandler.js.html
CnBlogAndroid/lcov-report/HomeworkDetails/HtmlDecode.js.html
CnBlogAndroid/lcov-report/HomeworkDetails/index.html
